body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.app-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 50px;
}

.theme-button {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    background-color: black;
    color: white;
    font-weight: 700;
    border: 2px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.theme:hover {
    background-color: #333;
}

.quiz-container{
    background-color: #d2f8f8;
    padding: 30px;
    margin: 5% 10%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiz-option {
    border: 0;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rgb(173, 243, 255);
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease;
}

.quiz-option:hover {
    background-color: #50e2ff;
    border: 1px solid rgb(111, 255, 241);
}

.highlight-box {
    gap:30px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.apply-highlight,
.reset-highlight,
.restart-button {
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 18px;
    border: 2px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.highlight:hover {
    background-color: #FF5959;
}

.removehighlight:hover {
    background-color: #5959FF;
}
